.poke-ball {
  background: red;
  border-radius: 100%;
  height: 100px;
  width: 100px;
  position: relative;
  background: linear-gradient(to bottom, #f23033 52%,#f23033 52%,#ffffff 52%,#ffffff 52%);
}

.poke-ball .line1 {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  height: 5px;
  background: #000;
  margin: -2.5px 0 0 0;
}

.poke-ball .line2,
.poke-ball .line3 {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 40px;
  width: 40px;
  background: #000;
  margin: -20px 0 0 -20px;
  box-sizing: border-box;
  border: solid 5px #000;
  background: #fff;
  border-radius: 100%;
}
.poke-ball .line3 {
  height: 20px;
  width: 20px;
  margin: -10px 0 0 -10px;
  background: #000;
  color: rgba(211, 228, 25, 0.712);
}